.InputContainer {
  display: flex;
  flex-direction: column;
  height: 550px;
  margin: 5px 5px;
  color: white;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(6, 6, 6));
  border-radius: 15px;
}

.InputContainer button {
  cursor: pointer;
  height: 50px;
  width: 200px;
  border: 3px solid white;
  border-radius: 25px;
  margin: 5px 5px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.InputRow {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
}

.Input {
  height: 30px;
  width: 250px;
  border: none;
  border-radius: 25px;
}

.Error {
  color: red;
  display: block;
  height: 25px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.PasswordValidContainer {
  width: 200px;
  font-size: small;
}
