.InputContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  background-color: rgb(150, 92, 221);
  border: 3px dotted rgb(81, 40, 131);
  border-radius: 15px;
  color: rgb(39, 18, 65);
}

.InputColumn {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  color: white;
}

.Input {
  height: 30px;
  width: 250px;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: black;
}

.Input::placeholder {
  color: lightgray;
}

.ReportButton {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border-color: lightgray;
  margin: 5px 5px;
  color: black;
  background-color: white;
  font-weight: bold;
}

.ToAddCarButton {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  margin: 5px 5px;
  color: white;
  border: none;
  background-color: rgb(81, 40, 131);
}

.NoCars {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 5px 5px;
  background-color: rgba(150, 92, 221, 0.2);
  border-radius: 15px;
  border: 3px dotted rgb(81, 40, 131);
}

.CarCard {
  margin: 5px 5px;
  background-color: rgb(150, 92, 221);
  border: 3px dotted rgb(81, 40, 131);
  border-radius: 15px;
  color: white;
}

.CarCardHeader {
  margin: 5px 5px;
  background-color: rgb(150, 92, 221);
  border: 3px dotted rgb(81, 40, 131);
  border-radius: 15px;
  color: rgb(33, 16, 53);
}

.CarCardButtonContainer {
  display: block;
}

.CarCardButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 5px 2.5px;
  height: 50px;
  width: 150px;
  border: none;
  background-color: rgb(81, 40, 131);
  color: white;
  border-radius: 10px;
}

.CreateCarContainer {
  margin: 5px 5px;
  background-color: black;
  border: 3px dotted black;
  border-radius: 15px;
  color: white;
}

.CreateCarContainer button {
  cursor: pointer;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  margin: 5px 5px;
  border-color: white;
  color: black;
  background-color: white;
  font-weight: bold;
}

.CarContainerReport {
  padding: 10px 0;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(6, 6, 6));
  color: white;
  margin: 5px 5px;
  border-radius: 15px;
}
